caffex/.git
caffex/build
caffex/dist
caffex/__pycache__
caffex/.travis
caffex/docs
caffex/examples
caffex/matlab
caffex/scripts
caffex/docker
caffex/.github
caffex/.Doxyfile
caffex/caffe.cloc
caffex/CONTRIBUTORS.md
caffex/Makefile.config.example
tests/coverage
tests/__pycache__
tests/.pytest_cache
tests/ops/__pycache__
tests/ops/.pytest_cache
tests/ops/htmlcov
docker/**
!docker/origin/
!docker/origin/scripts/
docker/origin/.agents
docker/origin/config
docker/origin/templates
.git
.gitignore
tools
docs
caffe-slim
